/*nav bar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-bottom: 1px solid black;
  width: 100%;

}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}
.active {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
}

/*compassFrame and compass*/

.compassFrame {
  border: 1px solid red;
  margin: 0 auto;
  max-width: 940px;
  height: 500px;
  position: relative;
}

.compass {
  border: 1px solid red;
  left: 25%;
  top: 10%;
  width: 470px;
  height: 400px;
  border-radius: 50%;
  position: absolute;
}

/*flavor buttons*/
#overwhelming {
  position: absolute;
  left: 630px;
  top: 50px;
}

#dry {
  position: absolute;
  left: 700px;
  top: 150px;
}

#bitter {
  position: absolute;
  left: 720px;
  top: 200px;
}

#astringent {
  position: absolute;
  left: 720px;
  top: 300px;
}

#muted {
  position: absolute;
  left: 630px;
  top: 405px;
}

#tea-like {
  position: absolute;
  left: 235px;
  top: 405px;
}

#vegetal {
  position: absolute;
  left: 190px;
  top: 345px;
}

#sour {
  position: absolute;
  left: 170px;
  top: 300px;
}

#beefy {
  position: absolute;
  left: 255px;
  top: 75px;
}

#soupy {
  position: absolute;
  left: 295px;
  top: 40px;
}

#strong{
  position: absolute;

  left: 50%;
}
